.news-letter{
    @include dflex(row, center, center, unset);

    form{        
        .form-control{
            @include dflex(row, unset, unset, 1rem);
            input{
                padding: 10px 20px;
                border-radius: 20px;
                border: none;
                outline: none;
            }
            .button{
                button{
                    @include button(12px 15px, 20px,$BrightRed,$VeryPaleRed);
                    font-size: 0.8rem;
                }
            }
        }
    }
    .form-error{
        @include dflex(row, unset, unset, unset);
        color: red;
        font-style: italic;
        display: inline-block;
        font-size: 0.8rem;
        margin: 0.7rem 0;
    }


    @media screen and (min-width:375px) {
        width: 100%;
        form{
            .form-control{
                width:60%;                
                .button{
                    button{
                        @include button(12px 25px, 20px,$BrightRed,$VeryPaleRed);             
                    }
                }
            }
            .form-error{
                width: 60%;
            }
        }        
    }
    
}