@import './variables.scss';
@import './mixins.scss';
@import './navBar.scss';
@import './objectBack.scss';
@import './header.scss';
@import './main.scss';
@import './avatar';
@import './sliderMobile';
@import './slider';
@import './social';
@import './links.scss';
@import './copyright';
@import './newsletter';
@import './footer';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../assets/images/bg-simplify-section-desktop.svg');
    background-position: center;
    background-size: cover;
    font-family: 'Be+Vietnam+Pro', Arial, Helvetica, sans-serif;
}
#root{
    //padding: 3rem 5rem;
    padding: 3rem 0 0;
    position: relative;
    overflow-x: hidden;

}